<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet"  href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
    <link rel="stylesheet"  href="css/mainCSS.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="js/mainJS.js"></script>
</head>

<body>
    <div class="calendar-container">
        <div class="calendar-header">
            <button class="btn btn-light">Today</button>
            <div class="ico-arrow">
                <a href="#" data-toggle="tooltip" data-placement="top" title="이전">
                    <i class="material-icons">
                        chevron_left
                    </i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="다음">
                    <i class="material-icons">
                        chevron_right
                    </i>
                </a>
            </div>
            <h4>2019년 9월</h4>
            <ul class="nav nav-tabs view-tab" id="view" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-month" data-toggle="tab" href="#month" role="tab"
                       aria-controls="month"
                       aria-selected="true">월</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-day" data-toggle="tab" href="#day" role="tab" aria-controls="day"
                       aria-selected="false">일</a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active show" id="month" role="tabpanel" aria-labelledby="tab-month">
                <div class="monthly-calendar">
                    <div class="week-day">
                        <div class="day-name">일</div>
                        <div class="day-name">월</div>
                        <div class="day-name">화</div>
                        <div class="day-name">수</div>
                        <div class="day-name">목</div>
                        <div class="day-name">금</div>
                        <div class="day-name">토</div>
                    </div>

                    <div class="week" id="week1">
                        <th:block th:each="sche:${weekList[0]}">
                            <div class="day">
                                <div th:if="sche.day == null" class="day-label"></div>
                                <div th:unless="sche.day == null" class="day-label">[[${sche.day}]]</div>
                                <div th:each=" list :${sche.scheduleList}"
                                     class="event event-start event-end" data-span="1" data-toggle="popover"
                                     data-html="true"
                                     th:attr="data-content='<div class=content-line><div class=event-marking></div>'
                                                       +'<div class=title>'
                                                       +'<h5>'+${list.title}+'</h5>'
                                                       +'<h7 class=reservation>'
                                                       +${list.start_year}+'년 '
                                                       +${list.start_month}+'월 '
                                                       +${list.start_day}+'일 – '
                                                       +${list.end_day}+'일 </br><span class=reservation-time> '
                                                       +${list.start_sign}+' '
                                                       +${list.start_hour}+' : '
                                                       +${list.start_minute}+' ~ '
                                                       +${list.end_sign}+' '
                                                       +${list.end_hour}+' : '
                                                       +${list.end_minute}+ '</span></div>'
                                                       +'</div><div class=content-line><i class=material-icons>'
                                                       +'notes</i><div class=title><h7 class=reservation>'
                                                       +${list.explanation}+'</div>'">[[${list.title}]]
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="week" id="week2">
                        <th:block th:each="sche:${weekList[1]}">
                            <div class="day">
                                <div th:if="sche.day == null" class="day-label"></div>
                                <div th:unless="sche.day == null" class="day-label">[[${sche.day}]]</div>
                                <div th:each=" list :${sche.scheduleList}"
                                     class="event event-start event-end" data-span="1" data-toggle="popover"
                                     data-html="true"
                                     th:attr="data-content='<div class=content-line><div class=event-marking></div>'
                                                       +'<div class=title>'
                                                       +'<h5>'+${list.title}+'</h5>'
                                                       +'<h7 class=reservation>'
                                                       +${list.start_year}+'년 '
                                                       +${list.start_month}+'월 '
                                                       +${list.start_day}+'일 – '
                                                       +${list.end_day}+'일 </br><span class=reservation-time> '
                                                       +${list.start_sign}+' '
                                                       +${list.start_hour}+' : '
                                                       +${list.start_minute}+' ~ '
                                                       +${list.end_sign}+' '
                                                       +${list.end_hour}+' : '
                                                       +${list.end_minute}+ '</span></div>'
                                                       +'</div><div class=content-line><i class=material-icons>'
                                                       +'notes</i><div class=title><h7 class=reservation>'
                                                       +${list.explanation}+'</div>'">[[${list.title}]]
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="week" id="week3">
                        <th:block th:each="sche:${weekList[2]}">
                            <div class="day">
                                <div th:if="sche.day == null" class="day-label"></div>
                                <div th:unless="sche.day == null" class="day-label">[[${sche.day}]]</div>
                                <div th:each=" list :${sche.scheduleList}"
                                     class="event event-start event-end" data-span="1" data-toggle="popover"
                                     data-html="true"
                                     th:attr="data-content='<div class=content-line><div class=event-marking></div>'
                                                       +'<div class=title>'
                                                       +'<h5>'+${list.title}+'</h5>'
                                                       +'<h7 class=reservation>'
                                                       +${list.start_year}+'년 '
                                                       +${list.start_month}+'월 '
                                                       +${list.start_day}+'일 – '
                                                       +${list.end_day}+'일 </br><span class=reservation-time> '
                                                       +${list.start_sign}+' '
                                                       +${list.start_hour}+' : '
                                                       +${list.start_minute}+' ~ '
                                                       +${list.end_sign}+' '
                                                       +${list.end_hour}+' : '
                                                       +${list.end_minute}+ '</span></div>'
                                                       +'</div><div class=content-line><i class=material-icons>'
                                                       +'notes</i><div class=title><h7 class=reservation>'
                                                       +${list.explanation}+'</div>'">[[${list.title}]]
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <div class="week" id="week4">
                        <th:block th:each="sche:${weekList[3]}">
                            <div class="day">
                                <div th:if="sche.day == null" class="day-label"></div>
                                <div th:unless="sche.day == null" class="day-label">[[${sche.day}]]</div>
                                <div th:each=" list :${sche.scheduleList}"
                                     class="event event-start event-end" data-span="1" data-toggle="popover"
                                     data-html="true"
                                     th:attr="data-content='<div class=content-line><div class=event-marking></div>'
                                                       +'<div class=title>'
                                                       +'<h5>'+${list.title}+'</h5>'
                                                       +'<h7 class=reservation>'
                                                       +${list.start_year}+'년 '
                                                       +${list.start_month}+'월 '
                                                       +${list.start_day}+'일 – '
                                                       +${list.end_day}+'일 </br><span class=reservation-time> '
                                                       +${list.start_sign}+' '
                                                       +${list.start_hour}+' : '
                                                       +${list.start_minute}+' ~ '
                                                       +${list.end_sign}+' '
                                                       +${list.end_hour}+' : '
                                                       +${list.end_minute}+ '</span></div>'
                                                       +'</div><div class=content-line><i class=material-icons>'
                                                       +'notes</i><div class=title><h7 class=reservation>'
                                                       +${list.explanation}+'</div>'">[[${list.title}]]
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <div th:if="${weekList[4] != null}" class="week" id="week5">
                        <th:block th:each="sche:${weekList[4]}">
                            <div class="day">
                                <div th:if="sche.day == null" class="day-label"></div>
                                <div th:unless="sche.day == null" class="day-label">[[${sche.day}]]</div>
                                <div th:each=" list :${sche.scheduleList}"
                                     class="event event-start event-end" data-span="1" data-toggle="popover"
                                     data-html="true"
                                     th:attr="data-content='<div class=content-line><div class=event-marking></div>'
                                                       +'<div class=title>'
                                                       +'<h5>'+${list.title}+'</h5>'
                                                       +'<h7 class=reservation>'
                                                       +${list.start_year}+'년 '
                                                       +${list.start_month}+'월 '
                                                       +${list.start_day}+'일 – '
                                                       +${list.end_day}+'일 </br><span class=reservation-time> '
                                                       +${list.start_sign}+' '
                                                       +${list.start_hour}+' : '
                                                       +${list.start_minute}+' ~ '
                                                       +${list.end_sign}+' '
                                                       +${list.end_hour}+' : '
                                                       +${list.end_minute}+ '</span></div>'
                                                       +'</div><div class=content-line><i class=material-icons>'
                                                       +'notes</i><div class=title><h7 class=reservation>'
                                                       +${list.explanation}+'</div>'">[[${list.title}]]
                                </div>
                            </div>
                        </th:block>
                    </div>


                </div>
            </div>
        </div>


        </div>


        <div class="modal fade" id="registerSchedule" tabindex="-1" role="dialog" aria-labelledby="registerScheduleLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerScheduleLabel">일정 만들기</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="monthly_day_form">
                            <div class="form-group">
                                <label class="col-form-label">일정 제목</label>
                                <input type="text" class="form-control" id="recipient-name" name="title">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">일정 설명</label>
                                <textarea class="form-control" id="message-text" name="explanation"></textarea>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">일정 시작 날짜</label>
                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#datetimepicker1" name="startSchedule"/>
                                            <div class="input-group-append" data-target="#datetimepicker1"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="material-icons">
                                                    calendar_today
                                                </i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">일정 시작 시간</label>
                                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#datetimepicker2" name="startTime"/>
                                            <div class="input-group-append" data-target="#datetimepicker2"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="material-icons">
                                                    access_time
                                                </i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">일정 종료 날짜</label>
                                        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#datetimepicker3" name="endSchedule"/>
                                            <div class="input-group-append" data-target="#datetimepicker3"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="material-icons">
                                                    calendar_today
                                                </i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">일정 종료 시간</label>
                                        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#datetimepicker4" name="endTime"/>
                                            <div class="input-group-append" data-target="#datetimepicker4"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="material-icons">
                                                    access_time
                                                </i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox"  id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">매월 반복</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">하루 종일</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="make_schedule">일정 만들기</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>